.pagination .page-item a {
  display: block;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination .page-item a:hover {
  background: #eee;
  color: #555;
}

.pagination .page-item.active .page-link, .pagination .page-item a:active {
  background-color: #4CAF50;
  color: white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
